.emprestimoSelectContainer {
  width: calc(100% - 16px);
  display: flex;
  justify-content: center;
}

.emprestimoSelectContainer input[type="text"] {
  width: calc(70% + 16px - 20px) !important;
  max-width: calc(500px - 20px) !important;
  height: 40px;
  font-size: 19px;
  margin-bottom: 4px;
  background-color: #f0f0f0;
  color: #313131;
  border: none;
  padding-right: 8px;
  padding-left: 8px;
  font-size: 19px;
  margin-bottom: 5px;
  font-family: Roboto;
}

select {
  height: 42px;
  border: none;
  width: 20px;
  background-color: #f0f0f0;
  font-size: 19px;
  font-family: Roboto;
}

select:focus {
  outline: transparent;
}