.emprestimoContainer{
  width: calc(100% - 16px);
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emprestimoContainer input[type="text"] {
  height: 40px;
  width: 70%;
  max-width: 500px;
  background-color: #f0f0f0;
  color: #313131;
  border: none;
  padding-right: 8px;
  padding-left: 8px;
  font-size: 19px;
  margin-bottom: 5px;
  font-family: Roboto;
}

.emprestimoContainer button {
  height: 40px;
  width: 60%;
  max-width: 400px;
  background-color: #313131;
  color: white;
  border: none;
  padding: 3px;
  font-size: 17px;
  font-family: Roboto;
}