.backupContainer{
  width: calc(100% - 16px);
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.backupContainer button {
  height: 40px;
  width: 60%;
  max-width: 400px;
  margin-bottom: 8px;
  background-color: #313131;
  color: white;
  border: none;
  padding: 3px;
  font-size: 17px;
  font-family: Roboto;
}